@import 'vars';
@import 'utils';

.button {
	min-width: 120px;
	height: 40px;
	padding: unit(1) unit(2);
	border-radius: $border-radius;
	border: none;
	background-color: $secondary-color;
	transition: background-color 200ms ease-in-out;
	color: $font-color-light;

	&:hover {
		background-color: $secondary-color-hover;
		cursor: pointer
	}

	&[disabled] {
		background-color: $secondary-color-disabled;
		cursor: not-allowed;
	}
}


.button-ghost {
	min-width: 120px;
	height: 40px;
	padding: unit(1) unit(2);
	border-radius: $border-radius;
	border: 1px solid $secondary-color;
	transition: background-color 200ms ease-in-out;
	color: $font-color-dark;
	cursor: pointer;
}

.icon-button {
	min-width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;
	border: none;
	transition: background-color 200ms ease-in-out;
	color: $font-color-dark;
	cursor: pointer;
}


@media (max-width: 600px) {
	.button {
		min-width: 90px;
	}

	.button-ghost {
		min-width: 90px;
	}
}
