<app-menu></app-menu>

<main class="main u-flex-center u-mt-l">

	<div class="form-wrapper">
		<div class="config-wrapper">

			<li
				(click)="onChangePage(configPagesEnum.DIFF)"
				[ngClass]="{ 'active': currentPage === configPagesEnum.DIFF }"
				class="li-item h4"
			>
				Diff
			</li>

			<li
				(click)="onChangePage(configPagesEnum.WLBL)"
				[ngClass]="{ 'active': currentPage === configPagesEnum.WLBL }"
				class="li-item h4"
			>
				Add WL / BL
			</li>

			<li
				(click)="onChangePage(configPagesEnum.RANGES)"
				[ngClass]="{ 'active': currentPage === configPagesEnum.RANGES }"
				class="li-item h4"
			>
				Ranges
			</li>

		</div>

		<form [formGroup]="form" class="u-flex-col u-mt-l">

			@switch (currentPage) {

				@case (configPagesEnum.DIFF) {

					<label for="diff-input">Enter Diff</label>
					<input
						[ngClass]="{ 'error': getControl('diff')?.errors }"
						class="input"
						formControlName="diff"
						id="diff-input"
						placeholder="0.15"
						type="number"
					>

					@if (getControl('diff')?.errors) {
						<div class="error-block">Please enter numeric value</div>
					}

					<label for="time-input" class="u-mt-m">Enter Time</label>
					<input class="input" formControlName="time" id="time-input" placeholder="1" type="number">
				}

				@case (configPagesEnum.WLBL) {
					<label for="whitelist">Select coins for whitelist</label>
					<div class="input-wrapper" (click)="stopPropagation($event)">
						<input
							class="input wl-input"
							formControlName="whitelist"
							id="whitelist"
							placeholder="Add whitelist"
							type="text"
							(input)="onPairChange($event)"
							(click)="onToggleWhitelistDropdown()"
						>

						@if (isShowWhiteList) {

							<div class="dropdown">
								@if (isPairsLoading) {
									<p class="t1">Грузим торговые пары...</p>
								} @else {
									<ul>
										@for (pair of filteredPairs; track pair) {
											<li (click)="selectWhitelistPair(pair)">
												{{ pair }}
											</li>
										}
									</ul>
								}
							</div>
						}
					</div>

					<div class="input-wrapper u-mt-l" (click)="stopPropagation($event)">
						<label for="blacklist">Select coins for blacklist</label>
						<input
							class="input wl-input"
							formControlName="blacklist"
							id="blacklist"
							placeholder="Add blacklist"
							type="text"
							(input)="onPairChange($event)"
							(click)="onToggleBlacklistDropdown()"
						>

						@if (isShowBlacklist) {

							<div class="dropdown">
								<ul>
									@for (pair of filteredPairs; track pair) {
										<li (click)="selectBlacklistPair(pair)">
											{{ pair }}
										</li>
									}
								</ul>
							</div>
						}
					</div>

					@if (selectedWhitelistPairs.length || selectedBlacklistPairs.length) {
						<div class="selected-pairs">
							<h5 class="u-mb-s">
								Whitelist:  {{ selectedWhitelistPairs.length }} {{ selectedWhitelistPairs.length === 1 ? 'coin' : 'coins' }}
							</h5>
							<ul>
								@for (selectedPair of selectedWhitelistPairs; track selectedPair) {
									<li class="li-pair-item">
										{{ selectedPair }}
										<button class="icon-button" (click)="removeWhitelistPair(selectedPair)">🗑️
										</button>
									</li>
								}
							</ul>

							<hr>

							<h5 class="u-mb-s">
								Blacklist:  {{ selectedBlacklistPairs.length }} {{ selectedBlacklistPairs.length === 1 ? 'coin' : 'coins' }}
							</h5>
							<ul>
								@for (selectedPair of selectedBlacklistPairs; track selectedPair) {
									<li class="li-pair-item">
										{{ selectedPair }}
										<button class="icon-button" (click)="removeBlacklistPair(selectedPair)">🗑️
										</button>
									</li>
								}
							</ul>

						</div>

						@if (selectedWhitelistPairs.length) {
							<div class="btn-wrapper u-mt-l">
								<button (click)="applyBLWL()" class="button-ghost">Apply</button>
							</div>
						}
					}
				}

				@case (configPagesEnum.RANGES) {

					<label for="time-interval">Select Time Interval</label>
					<input class="input" formControlName="timeInterval" id="time-interval" placeholder="6hrs"
						type="text">

					<label for="interval-diff" class="u-mt-m">Enter Interval Diff</label>
					<input class="input" formControlName="intervalDiff" id="interval-diff" placeholder="0.5"
						type="number">

					<label for="dots-amount" class="u-mt-m">Enter Amount of Dots</label>
					<input class="input" formControlName="dotsAmount" id="dots-amount" placeholder="5" type="number">
				}
			}

			<div class="filter-wrapper">
				<label> Filter only USDT pairs</label>
				<input type="checkbox" (click)="filter()">
			</div>

		</form>

		<div class="btn-wrapper u-mt-xl">
			<button
				(click)="startWs()"
				[disabled]="isScannerOn"
				class="button"
				type="button"
			>
				<span>▶️ </span>️Launch Scanner
			</button>
			<button
				(click)="stopWs()"
				[disabled]="!isScannerOn"
				class="button"
				type="button"
			>
				<span>⏸️ </span>Stop Scanner
			</button>
		</div>

	</div>

	@if (MESSAGES_STORAGE.get(currentSection)?.length) {
		<app-base-table
			[logs]="MESSAGES_STORAGE.get(currentSection) || []"
			[marketType]="currentSection"
		/>
	}

	@if (RANGES_MESSAGES_STORAGE.get(currentSection)?.length) {
		<app-ranges-table
			[logs]="RANGES_MESSAGES_STORAGE.get(currentSection) || []"
			[marketType]="currentSection"
		/>
	}
</main>

