<main class="main">
	<h1>Websocket launcher FUTURES</h1>


	<div class="userInput">

		<input class="input" formControlName="diff" id="diff-input" placeholder="Type diff" type="number">
		<input class="input" formControlName="time" id="time-input" placeholder="Type time" type="number">

		<div class="btn-wrapper">
			<button class="btn submit-btn"> Lunch Websocket</button>
			<button class="btn stop-btn"> Stop Websocket</button>

		</div>


		<div class="info">

			Futures WS is Running
			<p> Diff: 0%, Time: 0s </p>

		</div>

	</div>


</main>
