<main class="main">
	<h1>Websocket launcher</h1>

	<form [formGroup]="diffForm" class="userInput">
		<input class="input" formControlName="diff" id="diff-input" placeholder="Type diff" type="number">
		<input class="input" formControlName="time" id="time-input" placeholder="Type time" type="number">

		<div class="btn-wrapper">
			<button (click)="startWs()" class="btn submit-btn" type="button">▶️ Launch Websocket</button>
			<button (click)="stopWs()" class="btn stop-btn" type="button">⏸️ Stop Websocket</button>
		</div>
	</form>

	<div *ngIf="isInfo" class="info">
		<p>Diff: {{diff}} %, Time: {{time}}s</p>
	</div>

	<app-table *ngIf="MESSAGE_STORAGE.length" [logs]="MESSAGE_STORAGE"></app-table>
</main>
