<div class="menu">

	<h2> Scanner Launcher </h2>

	<button  (click)="openModal()" class="button btn-start">Get Started!</button>

	<app-modal [isOpen]="isModalOpen" (closeEvent)="closeModal()">

	</app-modal>
	<ul>
		<span>
			<a routerLink="/spot">Start </a>
		</span>
	</ul>

</div>

<main class="welcome-wrapper">

	<div class="welcome">
		<h1>Powerful for Traders. </h1>
		<h1>Fast for everyone.</h1>

		<div class="text">
			<p>Bring blockchain to the people. Solana supports experiences </p>
			<p>for power users, new consumers, and everyone in between.</p>
		</div>




		<div class="btn-wrapper">
			<button  (click)="openModal()" class="button btn-start">Get Started!</button>

			<app-modal [isOpen]="isModalOpen" (closeEvent)="closeModal()">

			</app-modal>
			<button class="button-ghost"> Read doc</button>
		</div>

	</div>


</main>



