h1 {
	text-align: center;
}

.main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.btn-wrapper {
	display: flex;
	gap: 15px;
}

.submit-btn {
	color: white;
}

.stop-btn {
	color: white;
}

.userInput {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.info {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
}
