.main {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.btn-wrapper {
	display: flex;
	gap: 15px;
}

.info {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
}
