<h2 class="h2 u-mb-xl u-mt-s"  style="cursor: pointer" routerLink="/welcome">Scanner launcher</h2>
<nav class="navbar">
	<ul>
		<li
			class="li-item h4"
			[ngClass]="{ 'active': currentPage === MarketTypeEnum.SPOT }"
			(click)="onUpdateCurrentSection(MarketTypeEnum.SPOT)"
			>
			{{ MarketTypeEnum.SPOT }}
		</li>

		<li
			class="li-item h4"
			[ngClass]="{ 'active': currentPage === MarketTypeEnum.FUTURES }"
			(click)="onUpdateCurrentSection(MarketTypeEnum.FUTURES)"
		>
			{{ MarketTypeEnum.FUTURES }}
		</li>
	</ul>
</nav>
