@import '../../styles/utils';

:host {

	margin-top: 18px;
	height: 400px;
	overflow: auto;

	table {
		border-collapse: collapse;
		position: relative;
	}

	tr {
		border-bottom: 1px solid white;

		&:first-child {
			position: sticky;
			top: 0;
		}
	}

	td {
		padding: unit(1) unit(3);
	}

	th {
		background-color: lightgray;
		padding: unit(1) unit(3);
	}


	.red-text {
		color: red;
	}

	.green-text {
		color: green;
	}


	@media screen and (max-width: 600px) {
		table {
			td {
				padding: unit(1) unit(1);
			}

			th {
				background-color: lightgray;
				padding: unit(1) unit(1);
			}

			width: 250px;
		}

	}
}