@import '../../styles/utils';

:host {

	margin-top: 18px;
	height: 400px;
	overflow: auto;

	table {
		border-collapse: collapse;
		position: relative;
	}

	tr {
		border-bottom: 1px solid white;

		&:first-child {
			position: sticky;
			top: 0;
		}
	}

	td {
		padding: unit(1) unit(3);
	}

	th {
		background-color: lightgray;
		padding: unit(1) unit(3);
	}
}
